body {
    font-family: sans-serif;
    background-color: #dcd8d6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #ffd9cf;
    background: linear-gradient(90deg, rgba(255, 217, 207, 1) 0%, rgba(204, 155, 135, 1) 100%, rgba(227, 163, 163, 1) 51%);
    width: 800px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 80px;
    box-shadow: 0px 6px 6px;
}

.input-group {
    margin-bottom: 15px;
    text-align: center;
    
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 40px;
 }
 input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
 }
 button {
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin-top: 30px;
    border: solid ;
    border-radius: 5px;
 }

 p {
    font-size: 20px;
    margin-top: 80px;
 }